.header-container {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.top-icon {
  font-size: 1.5rem;
}
.top-h {
  text-transform: uppercase;
}

.header nav a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: 25px;
  color: black;

  margin: 0 10px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;

  display: flex;
  align-items: center;
}
.header nav a:is(:hover, :focus) {
  color: green;
}
