.header{
    background-color: #87509c;
   
}

.header nav {
    line-height: 20px;
}
.header nav a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: block;
    text-transform: uppercase;
    transition: .8s;
    
}
.header nav a:hover{
    background-color: #643a79;
}
.fas{
    
    font-size: 24px;
    margin-right: 4px;
    color: white
}
.drop ul li{
    font-size: 40px;
}
.drop-bar{
    font-size: 80px;
    color: chocolate;
}
/* .dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
} */