.header-container {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .header nav {
  line-height: 20px;
} */
.header nav a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  color: #1c0950;
  padding: 10px 20px;
  margin: 0 10px;
  /* display: block; */
  text-transform: uppercase;
  transition: all 0.3s;
  border-radius: 5px;
}
.header nav a:hover {
  background-color: lightblue;
  border-radius: 5px;
  /* padding: 5px 20px; */
}
.fas {
  font-size: 24px;
  margin-right: 4px;
  color: black;
}
/* .drop ul li {
  font-size: 40px;
} */
/* .drop-bar {
  font-size: 80px;
  color: chocolate;
} */
/* .dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
} */
