.contact {
  background-color: #5c9cac;
  background-image: linear-gradient(rgb(243, 243, 243), rgb(230, 230, 219));
  padding: 30px;
  color: black;
}
.contact-container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .contact-container h3 {
  color: aqua;
} */
.c-icon {
  font-size: 24px;
  color: #e74c3c;
}
