h1 {
  color: #87509c;
}
.banner-container {
  max-width: 100%;
  min-height: 500px;
  background-image: linear-gradient(
    to bottom right,
    rgb(48, 48, 187),
    rgb(77, 7, 77)
  );
}
.banner-container h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 150px;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 30px;
}
.banner-container a {
  text-decoration: none;
}
.banner-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  border: none;
  color: #87509c;
  padding: 5px 30px;
  border-radius: 40px;
  font-weight: 600;
}
.banner-container button:hover {
  background-color: olive;
  color: aliceblue;
  transition: all 0.9s;
}
